@{
    ViewData["Title"] = "Welkompagina";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welkom bij De Gouden Friteuse!</h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>
                Frietliefhebbers, verenigt u! Bij De Gouden Friteuse zijn we gepassioneerd door alles wat met heerlijke friet te maken heeft, en we heten u van harte welkom in onze knusse frietenzaak in het hart van Vetstad.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Onze Missie</h2>
            <p>
                Onze missie is simpel maar smakelijk: we willen u de beste frietervaring bieden die u zich kunt voorstellen. Met verse aardappelen, de perfecte snit en een gouden krokante textuur, is onze friet een ware traktatie voor uw smaakpapillen. We staan garant voor kwaliteit en smaak in elke hap die u neemt.
            </p>
        </div>
        <div class="col-md-6">
            <h2>Gezelligheid</h2>
            <p>
                Bij De Gouden Friteuse draait het niet alleen om friet, maar ook om de warme sfeer en het gezellige samenzijn. Of u nu alleen komt voor een snelle snack, met vrienden bij ons neerstrijkt voor een gezellige avond, of een feestje plant waarbij u onze friet als hoofdgerecht wilt serveren, we heten u van harte welkom!
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Bestellen</h2>
            <p>
                Wilt u een bestelling plaatsen? Onze menukaart staat vol met verrukkelijke opties. Bekijk ons assortiment en geniet van heerlijke frietcreaties. Of heeft u gewoon zin in een goed gesprek over friet? Neem gerust contact met ons op. Onze vriendelijke medewerkers staan klaar om al uw vragen te beantwoorden.
            </p>
        </div>

        <div class="col-md-6">
            <h2>Onze Specialiteiten</h2>
            <p>
                Ontdek onze culinaire hoogstandjes! Bij De Gouden Friteuse hebben we meer dan alleen geweldige friet. Proef onze unieke specialiteiten, van huisgemaakte sauzen tot bijzondere frietcombinaties. We zijn trots op onze creativiteit en willen u graag verrassen met onvergetelijke smaken.
            </p>
        </div>
    </div>
